@import "~antd/dist/antd.css";

html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

#tawkchat-container {
    @media (max-width: 767px) {
        bottom: 60px !important;
    }
}

// Override Ant Design Component
.ant-drawer {
    z-index: 9999 !important;
    @media screen and (max-width: 768px) {
        .ant-drawer-content-wrapper {
            min-width: 100%;
        }
    }
}

.ant-drawer-body {
    padding: 0 !important;
}
